<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>      
      <register serviceType="XmCloudSXAStarter.Controllers.Api.UserApiController, XmCloudSXAStarter"
                implementationType="XmCloudSXAStarter.Controllers.Api.UserApiController, XmCloudSXAStarter" />
    </services>
    <api>
      <services>
        <configuration>
          <allowedControllers>
            <allowedController desc="UserApiController">XmCloudSXAStarter.Controllers.Api.UserApiController, XmCloudSXAStarter</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>