<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
		<!--   ALIASES
            Turn the following setting on to use aliases
       -->
	   <setting name="AliasesActive" value="false"/>
	</settings>
  <links>
    <urlBuilder>
      <languageEmbedding>never</languageEmbedding>
    </urlBuilder>
  </links>
  </sitecore>
</configuration>